.formWrap {
  text-align: center;
  text-transform: capitalize;
}
.form textarea {
  /* margin-top: 5px; */
  padding: 10px;
}
.form textarea:focus {
  outline: none;
}
.formButton {
  display: block;
  margin-top: 20px;
  width: 55ch;
  background-color: #000;
  border: none;
  color: #fff;
  padding: 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  border-radius: 3px;
}
.formButton:hover{
  cursor: pointer;
}