.todoWrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 30px 17px;
  border-bottom: 1px solid hsl(0, 0%, 70%);
}
.todoWrapper:last-child {
  border-bottom: none;
}
.todoHeader {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.todo {
  width: 500px;
  margin-top: 50px;
}
.todoList {
  border: 1px solid;
}
.todo h3,
.todo p {
  margin: 0;
  line-height: 1.5;
}
.todoButtons {
  display: flex;
  gap: 10px;
}
.icon {
  font-size: 25px;
}
.icon:hover {
  cursor: pointer;
}
.iconChecked,
.iconDelete {
  transition: 500ms all;
}
.iconChecked:hover {
  color: hsl(120, 87%, 48%);
}
.iconDelete:hover {
  color: hsl(0, 100%, 60%);
}
.todoBlank {
  padding: 20px;
  text-align: center;
  font-weight: 450;
  text-transform: capitalize;
}
.completed p {
  text-decoration: line-through;
}
.completed .iconChecked,
.completed .iconDelete {
  display: none;
}
.btnDelete {
  display: none;
}
button:hover {
  cursor: pointer;
}
.completed .btnDelete {
  font-size: 16px;
  display: block;
  background-color: #000;
  border: none;
  padding: 5px 30px;
  color: #fff;
  border-radius: 2px;
}
.todoWrapper.completed {
  justify-content: baseline;
  align-items: baseline;
}
